body {
  background-color: #121429;
}

#countainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Ptitle { width: 750px; }
.txts { color: white; font-size: 18px}

#imgcountainer {
  display: flex;
  justify-content: space-around;
}

#imgcountainer2 {
  display: flex;
  justify-content: space-around;
}


.imgs {
  width: 150px;
}

.txt2 {
  color: white;
  text-align: center;
  font-size: 18px;
}
